body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}
#header_section{
    background-image: url(img/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    margin-bottom: 50px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1{
    font-size: 50px;
    color: #f9f9f9;
}
.header_content{
    text-align: center;
    padding: 50px;
    width: 50%;
    margin: auto;
}
p{
    color: #767474;
    padding: 0px 20px;
    width: 80%;
    margin: auto;
}
.donate_btn{
    padding: 7px 13px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    color:
    #f9f9f9;
    background-color: #526dd4;
    display: inline-block;
    margin-top: 15px;
    
}
#payment_section{
    width:50%;
    margin: auto;
    margin-bottom: 20px;
}
.payment_info{
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}
.payment_amount{
    display: flex;
}
.option{
    width: 15%;
    float:
    left;
    padding: 0px 8px;
    background-color: #fafafa;
    border-radius: 2px;
    margin: auto;
    text-align: center;
    font-weight: 700;
}
.input_box{
    border: none;
    text-align: center;
    border-bottom: 1px solid #e7dede;
    width: 630px;
    padding: 2%;
    margin: 30px 10px 5px 10px;
}
.donate_now_btn{
    width: 50%;
    margin: auto;
    text-align: center;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
    color: #707070;
}
.option_B{
    color: #FF5D5D;
    border:1px solid #FF5454;
    background-color: #FFEEEE;
    width: 15%;
    float:left;
    padding: 0px 8px;
    border-radius: 2px;
    margin: auto;
    text-align: center;
    font-weight: 700;
}
#planning_section{
    width: 80%;
    margin:auto;
    margin-bottom: 50px;
    
}
.planning_heading {
    text-align: center;
    padding: 2%;
    width: 53%;
    margin: auto;
}
.planing_method{
    display:
    flex;
    width: 80%;
    margin: auto;
}
.p_content{
    width: 29%;
    float: left;
    margin: auto;
    padding: 5px 10px;
    height: 310px;
}
.p_content i{
    font-size: 40px;
    padding-top: 10px;
}
small {
    color: #707070;
    text-align: justify;
}
.color_a{
    background-color: #EDF5F6;
}
.color_b{
    background-color: #FFEEEE;
}
.color_c{
    background-color: #FFF4D6;
}
#contact_section{
    
    width:50%;
    
margin:
    
auto;
    
margin-bottom: 50px;
}
.contact_heading{
    text-align: center;
    margin-bottom: 30px;
}
.contact_btn{
    background-color: #FFF4D6;
    text-align: center;
    padding: 60px 50px 50px 50px;
    
}
.email_input{
    padding: 7px 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 4px;
    width: 153px;
}
.submit_btn{
    padding: 7px 10px;
    background-color: #526DD4;
    border: none;
    width: 100px;
    border-radius: 4px;
    color: #2e2727;
}
#footer_section{
    background-color: #0B0D17;
    padding:5px 10px;
    text-align: center;
}
span{
    color: #526DD4;
    font-style: italic;
}
.color_text{
    color: #e1e1e1;
}
#about_section{
    width:80%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    overflow: hidden;
}
.info{
    width: 23%;
    float: left;
    text-align: center;
    margin:
    auto;
    margin-bottom: 30px;
    box-shadow: 4px 0px 3px dimgrey;
    padding: 10px 10px;
}
.info img{
    max-width: 100%;
    max-height: 100%;
    
}
.icon_link{
    font-size: 25px;
    padding: 5px;
}